/* Copyright © 2021-2022 Shane Harris. All rights reserved. */

body {
	margin: 0 auto;
	padding: 0 1rem;
	background-color: var(--colour-background-primary);
	color: var(--colour-text-secondary);
	max-width: 8.5in;
	font-family: system-ui;
	text-align: center;
	line-height: 1.5;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	color: var(--colour-text-primary);
}

header {
	margin-top: 1rem;
	text-align: left;
}

header.display-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem 3rem;
}

header>div {
	flex-grow: 1;
	flex-basis: 400px;
}

@media screen and (max-width: 696px) {
	header h1 {
		text-align: center;
	}
}

header img {
	height: 100%;
	max-width: 100%;
	border-radius: 50%;
	filter: contrast(1.5);
}

main h2 {
	margin-top: 3rem;
}

main section {
	margin-top: 1rem;
}

main section.display-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0 3rem;
}

main section h3 {
	flex: 0 1 170px;
	margin: 0;
	text-align: right;
}

main section ul {
	flex-grow: 1;
	flex-basis: 170px;
	margin: 0;
	padding-left: 0;
	text-align: left;
	list-style-type: none;
}

main section ul li {
	display: inline;
	white-space: nowrap;
}

main section ul li:not(:last-of-type) {
	margin-right: 1rem;
}

@media screen and (max-width: 436px) {
	main section h3 {
		text-align: center;
	}

	main section ul li {
		display: block;
		margin-right: 0 !important;
		text-align: center;
	}
}

main section ul abbr {
	text-decoration-line: none;
}

footer {
	margin: 3rem 0;
	color: var(--colour-text-tertiary);
}

footer a {
	color: inherit;
	text-decoration-line: none;
	white-space: nowrap;
}

footer a:hover {
	color: var(--shane4368-colour-green);
	text-decoration-line: underline;
}

.footer-hyperlinks.display-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.footer-copyright {
	margin-top: 1rem;
}

.project-cards.display-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(calc(8.5in / 2 - 1.5rem), 100%), 1fr));
	gap: 1rem;
}

.project-card {
	padding: 1rem;
	flex: 0 1 calc(8.5in / 2 - 1.5rem);
	text-align: left;
	border-radius: 0.5rem;
	border: 2px solid rgb(255 255 255 / 0.2);
	box-sizing: border-box;
}

.project-card.display-grid {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: start;
}

.project-card h3 {
	margin: 0;
}